<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVISION</key>
	<string>dbd9d8b</string>
	<key>Scene Configuration</key>
	<dict/>
	<key>TSRootBinaries</key>
	<array>
		<string>Helper</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrow.counterclockwise.circle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Respring</string>
			<key>UIApplicationShortcutItemType</key>
			<string>qa_respring</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>iphone.circle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UICache</string>
			<key>UIApplicationShortcutItemType</key>
			<string>qa_uicache</string>
		</dict>
	</array>
</dict>
</plist>
