<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVISION</key>
	<string>c30c87f</string>
	<key>TSRootBinaries</key>
	<array>
		<string>Helper</string>
	</array>
</dict>
</plist>
